@import url(./fonts/css/font-awesome.min.css);
@import url(./vendors/normalize.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  font-family: "FontAwesome", Arial, sans-serif; }

.header {
  font-family: "FontAwesome", Arial, sans-serif;
  background-color: #212121;
  color: #F1FFF9;
  height: 4rem;
  line-height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  @media only screen and (min-width: 48em) {
    .header {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .header__mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 4rem; }
    .header__mobile--logo {
      margin-left: 1em;
      margin-top: .12em;
      font-size: 1.5em;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
      .header__mobile--logo--picture {
        height: 0; }
        .header__mobile--logo--picture img {
          border-radius: 50%;
          width: 3rem;
          border: 0.2rem solid #F1FFF9;
          transition: all 1.2s ease; }
        .header__mobile--logo--picture img:hover {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          transition: all 1.2s ease;
          border: 0.2rem solid #FFB040; }
        .header__mobile--logo--picture figcaption {
          position: absolute;
          top: 0;
          margin-left: 2.75em;
          color: #F1FFF9; }
        .header__mobile--logo--picture figcaption:hover {
          color: #FFB040; }
    .header__mobile--btn {
      border: 0;
      margin-right: 1.5em;
      outline: none;
      line-height: 4rem;
      height: 4rem;
      width: 4rem;
      font-size: 1.5em;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      border-radius: 5px;
      background-color: #212121;
      border: 2px solid #212121; }
      .header__mobile--btn:hover {
        border: 2px solid #FFB040;
        color: #FFB040; }
      @media only screen and (min-width: 48em) {
        .header__mobile--btn {
          display: none; } }
  .header__menu--navbar {
    background-color: #212121; }
    @media only screen and (max-width: 48em) {
      .header__menu--navbar {
        width: 150px; } }
  .header__menu--list {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    transition: height .3s ease; }
    @media only screen and (min-width: 48em) {
      .header__menu--list {
        height: 4rem;
        margin-right: 2em; } }
    .header__menu--list--show {
      height: 100%;
      transition: height .3s ease; }
    @media only screen and (min-width: 48em) {
      .header__menu--list--item {
        display: inline-block;
        margin: 0;
        text-align: center;
        min-width: 90px; } }
    .header__menu--list--item a {
      text-decoration: none;
      color: #F1FFF9;
      width: 100%;
      display: block;
      text-align: center;
      box-sizing: border-box;
      border-top: 3px solid #212121; }
      @media only screen and (min-width: 48em) {
        .header__menu--list--item a {
          box-sizing: border-box;
          padding: 0 .5em; } }
      .header__menu--list--item a:hover {
        box-sizing: border-box;
        color: #FFB040;
        border-top: 3px solid #FFB040; }
        @media only screen and (max-width: 48em) {
          .header__menu--list--item a:hover {
            border-top: 3px solid  grey;
            background-color: grey; } }

.content {
  margin-top: 4rem;
  height: 595px;
  background-color: #9780B2; }
