.header{
  font-family: 'Montserrat';
  background-color: $black;
  color: $white;
  height: 64px;
  line-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all .3s ease;
  @include respond-to(md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    transition: all .3s ease;
    line-height: 80px;
  }
  &__light{
    background-color: $white;
    color: $black;
  }
  &__mobile{
    display: flex;
    justify-content: space-between;
    &--logo{
      margin-left: 1em;
      font-size: 2em;
      order: 1;
    }
    &--btn{
      border: 0;
      margin-right: 2em;
      outline: none;
      order: 2;
      border-radius: 5px;
      background-color: $black;
      @include respond-to(md) {
        display: none;
      }
    }
  }
  &__menu--navbar{
    background-color: $black;
    &__light{
      background-color: $white;
    }
  }
  &__menu--list{
    height: 0;
    overflow: hidden;
    list-style-type: none;
    transition: height .3s ease;
    @include respond-to(md) {
      height: 80px;
      margin-right: 2em;
    }
    &--show{
      height: 320px;
      transition: height .3s ease;
    }
    &--item{
      @include respond-to(md) {
        display: inline-block;
        margin: 0 .5em;
        text-align: center;
      }
      & a{
        text-decoration: none;
        color: $white;
        width: 100%;
        padding: 1.5em;
        display: block;
        @include respond-to(md) {
          padding: 0 .5em;
        }
      }
      &__light a{
        color: $black;
      }
    }
  }
}