//Variables Globales
$columns:12;
$gutter-width: 1%;
$gutter: 1em;
$container: 100%-($gutter-width*2);
$container-fluid: 100%;

//Breakponits
$screen-xs: 30em;  //480px
$screen-sm: 37.5em;  //600px
$screen-md: 48em;  //768px
$screen-lg: 64em;  //1024px
$screen-xl: 80em;  //1280px