@import '../variables/var';
@import '../mixins/grid';
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-offset-1,
.col-offset-2,
.col-offset-3,
.col-offset-4,
.col-offset-5,
.col-offset-6,
.col-offset-7,
.col-offset-8,
.col-offset-9,
.col-offset-10,
.col-offset-11{
box-sizing: border-box;
flex: 0 0 auto;
padding: 0 $gutter-width;
}
.col{
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}

@include columns;
@include offset;

.start{
justify-content: flex-start;
text-align: start;
}
.center{
justify-content: center;
text-align: center;
}
.end{
justify-content: flex-end;
text-align: end;
}
.top{
align-items: flex-start;
}
.middle{
align-items: center;
}
.bottom{
align-items: flex-end;
}
.around{
justify-content: space-around;
}
.between{
justify-content: space-between;
}
.first{
order: -1;
}
.last{
order: 1;
}