@import '../variables/var';
@include respond-to(md) {
  .container {
    width: ($screen-md+1em);
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11{
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 $gutter-width;
  }
  .col-md{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  
  @include columns-md;

  @include offset-md;

  .start-md{
     justify-content: flex-start;
    text-align: start;
  }

  .center-md{
    justify-content: center;
    text-align: center;
  }

  .end-md{
    justify-content: flex-end;
    text-align: end;
  }

  .top-md{
    align-items: flex-start;
  }

  .middle-md{
    align-items: center;
  }

  .bottom-md{
    align-items: flex-end;
  }

  .around-md{
    justify-content: space-around;
  }

  .between-md{
    justify-content: space-between;
  }

  .first-md{
    order: -1;
  }

  .last-md{
    order: 1;
  }
}