@import '../variables/var';
@include respond-to(xl) {
  .container {
    min-width: ($screen-lg+1em);
  }
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-offset-1,
  .col-xl-offset-2,
  .col-xl-offset-3,
  .col-xl-offset-4,
  .col-xl-offset-5,
  .col-xl-offset-6,
  .col-xl-offset-7,
  .col-xl-offset-8,
  .col-xl-offset-9,
  .col-xl-offset-10,
  .col-xl-offset-11{
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 $gutter-width;
  }
  .col-xl{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  
  @include columns-xl;

  @include offset-xl;

  .start-xl{
     justify-content: flex-start;
    text-align: start;
  }

  .center-xl{
    justify-content: center;
    text-align: center;
  }

  .end-xl{
    justify-content: flex-end;
    text-align: end;
  }

  .top-xl{
    align-items: flex-start;
  }

  .middle-xl{
    align-items: center;
  }

  .bottom-xl{
    align-items: flex-end;
  }

  .around-xl{
    justify-content: space-around;
  }

  .between-xl{
    justify-content: space-between;
  }

  .first-xl{
    order: -1;
  }

  .last-xl{
    order: 1;
  }
}