// Variables Globales
$black: #212121;
$white: #F1FFF9;
$brown: #B29163;
$green: #65FF92;
$orange: #FFB040;
$purple: #8344CC;
$purpleLight: #9780B2;

$header-height: 4rem;
$font-awesome: 'FontAwesome', Arial, sans-serif;