@import 'variables/var';
@import 'mixins/breakpoints';

.container,
.container-fluid{
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: $container;
  &-fluid {
    max-width: $container-fluid;
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse{
  flex-direction: row-reverse;
}

.col.reverse{
  flex-direction: column-reverse;
}

@import 'grid/col';

@import 'grid/xs';

@import 'grid/sm';

@import 'grid/md';

@import 'grid/lg';

@import 'grid/xl';